@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    @apply font-sans;
}

body {
    overflow-x: hidden;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.splash-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s ease-in-out forwards;
}